In [1]:
import pandas as pd

In [2]:
ice_cream = ["choclate","Vanilla","strawberry","Rum raisin"]
pd.Series(ice_cream)

0      choclate
1       Vanilla
2    strawberry
3    Rum raisin
dtype: object

In [3]:
lottery = [4,8,15,16,23,42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
regist = [True , False , True , False , False ,True]

pd.Series(regist)

0     True
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [6]:
websterd = {'Aardvark': 'An animakl',
           "Banana":" A delicious fruit",
           "cyan": "A color"}

pd.Series(websterd)

Aardvark            An animakl
Banana       A delicious fruit
cyan                   A color
dtype: object

In [7]:
about_me  =['smart',"handsome","Charming","Brilliant","Humbel"]

In [8]:
a = pd.Series(about_me)
print(a)

0        smart
1     handsome
2     Charming
3    Brilliant
4       Humbel
dtype: object

In [9]:
a.values

array(['smart', 'handsome', 'Charming', 'Brilliant', 'Humbel'],
      dtype=object)

In [10]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
a.dtype

dtype('O')

In [12]:
prices = [2.99 , 4.45 , 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [13]:
s.sum()

8.8

In [14]:
s.product()

18.095480000000006

In [15]:
s.mean()

2.9333333333333336

In [16]:
fruits = ["Apple","Orange","Plum","grape","Bluebarry"]
weekdays = ["Monday","Tuesday", "Wednesday","thrusday","Friday"]

pd.Series(fruits  , weekdays)

pd.Series(data = fruits , index = weekdays)

pd.Series(fruits , index=  weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
thrusday         grape
Friday       Bluebarry
dtype: object

In [17]:
fruits = ["Apple","Orange","Plum","grape","Bluebarry" , "watermelon"]
weekdays = ["Monday","Tuesday", "Wednesday","thrusday","Friday","Monday"]

pd.Series(data = fruits , index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
thrusday          grape
Friday        Bluebarry
Monday       watermelon
dtype: object

In [21]:
pd.read_csv("pokemon.csv" , usecols = ["Pokemon"] , squeeze = True).head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [23]:
 google = pd.read_csv("google_stock_price.csv" , squeeze= True)
 google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [24]:
google = pd.read_csv("google_stock_price.csv" , squeeze= True)
pokemon = pd.read_csv("pokemon.csv" , usecols = ["Pokemon"] , squeeze = True)

In [25]:
pokemon.head(n = 6)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
Name: Pokemon, dtype: object

In [26]:
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [27]:
len(pokemon)

721

In [28]:
len(google)#len function is just returning the length of the rows

3012

In [29]:
type(pokemon)

pandas.core.series.Series

In [38]:
dir(pokemon) 
output = None# how much methods that you can apply on this series objects

In [39]:
sorted(pokemon)
output = None
#sorted into the alphabetical order

In [40]:
sorted(google)
output = None#sorted into the numerical order(ascending order)

In [41]:
sum(google)# sum of total no. that is present into the list or rows

1006942.0000000002

In [44]:
list(pokemon)#list function is convert the pokemon csv file attribute into a list format
output = None # Hides the output

In [46]:
sorted(list(pokemon))#sorted the list member in alphabetical order
output = None

In [48]:
dict(google)#dict function is used to change into dictionary
output = None

In [49]:
max(pokemon)

'Zygarde'

In [50]:
min(pokemon) # return the very first Alphabetical order word

'Abomasnow'

In [51]:
min(google)#return the smallest the no. in the file

49.95

In [54]:
pokemon.values  # give the list or array of values that is persent in the file
output = None

In [55]:
google.values   #same as mentioned above

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [56]:
pokemon.index  #index function returns the index no where from it is stared , stop positon and also return the step

RangeIndex(start=0, stop=721, step=1)

In [57]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [58]:
pokemon.dtype  # dtype method returns the data type of the file or values  this function automatically get the datatype of the values

dtype('O')

In [59]:
google.dtype

dtype('float64')

In [60]:
pokemon.is_unique  #Returns the boolean values if there is no duplicate than it return the True Else it return  False

True

In [61]:
google.is_unique

False

In [62]:
pokemon.ndim  #return the no. of dimensions

1

In [63]:
pokemon.shape  #return the (row,column)

(721,)

In [64]:
google.shape

(3012,)

In [65]:
pokemon.size  # no of values that is persent

721

In [66]:
pokemon.name  # unique attribute  we can also modifie it

'Pokemon'

In [67]:
pokemon.name = "Pocket Monsters"

In [68]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pocket Monsters, dtype: object

In [69]:
pokemon.sort_values().head()  #sorted with their values

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pocket Monsters, dtype: object

In [70]:
pokemon.sort_index().head() # sorted with their index no.

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pocket Monsters, dtype: object

In [71]:
pokemon.sort_values(ascending = False).tail()  #sorted into reverse alphabetical order

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pocket Monsters, dtype: object

# The inplace parameter to change the file

In [72]:
import pandas as pd

In [73]:
google = pd.read_csv("google_stock_price.csv" , squeeze= True)
pokemon = pd.read_csv("pokemon.csv" , usecols = ["Pokemon"] , squeeze = True)

In [74]:
google = google.sort_values()  #Deep copy or we can say the parmanent change

In [75]:
google.head(4)

11    49.95
9     50.07
0     50.12
10    50.70
Name: Stock Price, dtype: float64

In [77]:
google.sort_values(ascending = False , inplace = True)  #The Inplace parameter is return the changes directlly to main file

In [78]:
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

In [79]:
google = pd.read_csv("google_stock_price.csv" , squeeze= True)
pokemon = pd.read_csv("pokemon.csv" , usecols = ["Pokemon"] , squeeze = True)

In [80]:
pokemon.sort_values(ascending= False , inplace = True)

In [81]:
pokemon.head(2)

717     Zygarde
633    Zweilous
Name: Pokemon, dtype: object

In [82]:
pokemon.sort_index(ascending = True , inplace = True)

In [83]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [84]:
100 in pokemon.index

True

In [85]:
"Bulbasaur" in pokemon

False

In [86]:
pokemon.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            711, 712, 713, 714, 715, 716, 717, 718, 719, 720],
           dtype='int64', length=721)

In [87]:
pokemon[1]  #indexing
pokemon[[100,200,300]]
pokemon[50:55]

50    Dugtrio
51     Meowth
52    Persian
53    Psyduck
54    Golduck
Name: Pokemon, dtype: object

# Extract values by Index Label

In [88]:
pokemon = pd.read_csv("pokemon.csv" , index_col = "Pokemon" , squeeze=True)
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [89]:
pokemon[0]

'Grass'

In [90]:
pokemon[[100,134]]

Pokemon
Electrode    Electric
Jolteon      Electric
Name: Type, dtype: object

In [91]:
pokemon["Bulbasaur"] # can be call by the coloumn name

'Grass'

In [92]:
pokemon[["Pikachu" , "Digimon"]] 
#If the given key is not match in the data than it returns error in single call but if we call with the other one that is persent in the list that it return NOtANumber(NAN)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:850: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Pokemon
Pikachu    Electric
Digimon         NaN
Name: Type, dtype: object

# The .get() Method on a Series

In [93]:
pokemon.sort_index(inplace = True)

In [94]:
pokemon.head()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [95]:
pokemon.get(key = ["Moltres" ,"Meowth"])

Pokemon
Moltres      Fire
Meowth     Normal
Name: Type, dtype: object

In [96]:
pokemon.get(key="DIGImon",default = "This is not a pokemon")

'This is not a pokemon'

# Math methods on  Series Objects

In [97]:
google = pd.read_csv("google_stock_price.csv",squeeze=True)

In [98]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [99]:
google.count()  # excludes  the NAN  or

3012

In [100]:
len(google)  # count all the no. that is in list

3012

In [101]:
google.sum()

1006942.0

In [102]:
google.median()

283.315

In [103]:
google.std()  #Return sample standard deviation over requested axis.

173.18720477113106

In [104]:
google.mode()

0    291.21
dtype: float64

In [105]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

# The.idxmax() and .idxmin() Method

In [106]:
google.max()

782.22

In [107]:
google[3011]

782.22

In [108]:
google.idxmax()  # max. no.'s ID'

3011

In [109]:
google.idxmin()

11

In [110]:
google[11]

49.95

In [111]:
google[google.idxmin()]

49.95

# The.value_counts () Method

In [112]:
pokemon = pd.read_csv("pokemon.csv" , index_col = "Pokemon",squeeze= True)

In [113]:
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [115]:
pokemon.value_counts().head(3)  # least common type

Water     105
Normal     93
Grass      66
Name: Type, dtype: int64

In [116]:
pokemon.value_counts().sum()

721

In [117]:
pokemon.count()

721

In [118]:
pokemon.value_counts(ascending = True).head()

Flying     3
Fairy     17
Steel     22
Ice       23
Ghost     23
Name: Type, dtype: int64

# The . apply() Method

In [119]:
google = pd.read_csv("google_stock_price.csv",squeeze= True)
google.head(4)

0    50.12
1    54.10
2    54.65
3    52.38
Name: Stock Price, dtype: float64

In [120]:
# classification of data
def classify_performance(number):
    if number < 300:
        return "ok"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else : 
        return "Incredible!"

In [121]:
google.apply(classify_performance).tail()

3007    Incredible!
3008    Incredible!
3009    Incredible!
3010    Incredible!
3011    Incredible!
Name: Stock Price, dtype: object

In [122]:
google.apply(lambda stock_price :stock_price +1).head()#anonoumous function or random and also addition on the values

0    51.12
1    55.10
2    55.65
3    53.38
4    53.95
Name: Stock Price, dtype: float64

# The .map() Method

In [123]:
pokemon_names = pd.read_csv("pokemon.csv", usecols= ["Pokemon"] , squeeze=True)

In [124]:
pokemon_names.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [125]:
pokemon_types = pd.read_csv("pokemon.csv",index_col = "Pokemon" , squeeze= True)

In [126]:
pokemon_types.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [127]:
pokemon_names.map(pokemon_types).head()

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Pokemon, dtype: object

In [132]:
 pokemon_names.map(pokemon_types).head(3)

0    Grass
1    Grass
2    Grass
Name: Pokemon, dtype: object

In [129]:
pokemon_names = pd.read_csv("pokemon.csv", usecols= ["Pokemon"] , squeeze=True)
pokemon_types = pd.read_csv("pokemon.csv",index_col = "Pokemon" , squeeze= True)

In [131]:
pokemon_names.map(pokemon_types).head(3) # another panda series and that calls the map method

0    Grass
1    Grass
2    Grass
Name: Pokemon, dtype: object